<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shopkittong</title>
</head>
<body>
<h1>Shopkittong</h1><hr>
<h4>Подробная информация о товаре</h4>
<form th:action="@{/product/update}" method="post">
  <input type="hidden" name="id" th:value="${product.id}"/> <!-- Скрытое поле для передачи идентификатора товара -->
  <label>Новое название товара: </label>
  <input type="text" name="title" th:value="${product.title}"/><br>
  <label>Новая цена: </label>
  <input type="text" name="price" th:value="${product.price}"/><br>
  <input type="submit" value="Изменить товар"/>
</form>
<hr>
<form th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
  <input type="submit" value="Удалить товар"/>
</form>
</body>
</html>
