<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<h1>User</h1><hr>
<h4>Подробная информация о User</h4>
<form th:action="@{/user/update}" method="post">
  <input type="hidden" name="id" th:value="${user.id}"/> <!-- Скрытое поле для передачи идентификатора товара -->
  <label>Name: </label>
  <input type="text" name="name" th:value="${user.name}"/><br>
  <label>Новая Email: </label>
  <input type="text" name="email" th:value="${user.email}"/><br>
  <label>Новая Password: </label>
  <input type="text" name="password" th:value="${user.password}"/><br>
  <span th:text="${user.getRoles}"></span><br>
  <label>Выберите роли:</label><br>
  <input type="checkbox" name="roles" value="USER" th:checked="${user.roles.contains('USER')}"/> Пользователь<br>
  <input type="checkbox" name="roles" value="ADMIN" th:checked="${user.roles.contains('ADMIN')}"/> Администратор<br>
  <input type="checkbox" name="roles" value="GUEST" th:checked="${user.roles.contains('GUEST')}"/> Гость<br>
  <input type="submit" value="Изменить User"/>

  </form>
  <hr>
  <form th:action="@{/user/delete/{id}(id=${user.id})}" method="post">
    <input type="submit" value="Удалить User"/>
  </form>
</body>
</html>