<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
  <h1>Магазин</h1>
  <h4>User</h4>
  <div th:each="user : ${users}">
    <p>
      <b th:text="${user.id}"></b>
      <span th:text="${user.name}"></span>
      <span th:text="${user.email}"></span>
      <a th:href="@{/user/{id}(id=${user.id})}">Подробнее...</a>
    </p>
  </div>

  <!--    ------------------------------------------------------------------------------------->
  <hr>
  <h3>Поиск товара по названию</h3>

  <form th:action="@{/user/email}" method="get">
    Почта пользователя: <input type="text" name="email"/><br><br>
    <input type="submit" value="Найти">
  </form>


  <h3>Результат user по email</h3>

  <div th:if="${foundUserByEmail != null}">
    <p>
      <b th:text="${foundUserByEmail.getName}"></b>
      <span th:text="${foundUserByEmail.getEmail}"></span>
      <span th:text="${foundUserByEmail.getRoles}"></span>
    </p>
  </div>
  <div th:if="${foundUserByEmail == null}">
    <p>Нет такого user</p>
  </div>

  <hr>

  <!--    ------------------------------------------------------------------------------------->

  <h3>Поиск user по идентификатору</h3>
  <form th:action="@{/user/id}" method="get">
    Идентификатор user: <input type="text" name="id"><br><br>
    <input type="submit" value="Найти">
  </form>


  <h3>Результат user по идентификатору</h3>

  <div th:if="${foundUserById != null}">
    <p>
      <b th:text="${foundUserById.getName}"></b>
      <span th:text="${foundUserById.getEmail}"></span>
      <span th:text="${foundUserById.getRoles}"></span>
    </p>
  </div>
  <div th:if="${foundUserById == null}">
    <p>Нет такого user</p>
  </div>

  <hr>

  <!--    ------------------------------------------------------------------------------------->

  <h3>Создать новый user</h3>
  <form th:action="@{/user}" method="post">
    Name: <input type="text" name="name"><br><br>
    Email: <input type="BigDecimal" name="email"><br><br>
    Password: <input type="text" name="password"><br><br>
    <input type="hidden" name="roles" value="USER">
    <input type="submit" value="Создать">
  </form>
</body>
</html>


